.page-section-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: auto;
  font-family: 'Poppins';
  padding: 0pt 64pt;

  @media screen and (max-width: 768px) {
    padding: 0pt 32pt;
  }
}

.page-section {
  text-align: center;
  font-family: 'PoppinsLight';
  display: flex;
  flex-direction: column;
  gap: var(--section-gap);

  @media screen and (max-width: 768px) {
    gap: calc(var(--section-gap) / 3);
    
  }
}

.section-header {
  text-align: center;
}

.section-title {
  padding: 72pt 0pt;
  font-size: var(--section-title-fontSize);
  font-family: 'AcuminPro';

  @media screen and (max-width: 768px) {
    font-size: calc(var(--section-title-fontSize) / 1.5);
    padding: 32pt 0pt;
  }
}

.section-descript {
  text-align: left;
  font-size: 16px;
  line-height: 36px;

  @media screen and (max-width: 768px) {
    font-size: 14px;
    line-height: 28px;
  }
}

p {
  font-family: 'PoppinsLight';
}
