.page-section-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: 'Poppins';
  width: 100vw;
}

.page-section {
  text-align: center;
}

.section-header {
  text-align: center;
  width: 90vw;
}

.section-title {
  padding-top: 72pt;
  font-size: 48pt;
  font-family: 'NotoSansBold';
  padding-bottom: 72pt;
}

.section-descript {
  text-align: left;
  font-size: 16pt;
  padding-bottom: 0pt;
}
