.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 72px;
  line-height: 36px;
}

.text-description {
  width: 88vw;
  font-size: 16px;
}

.academy-description {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  gap: 72px;
  box-sizing: border-box;
}

.academy-description-text {
  font-size: 16px;
  flex: 1 1 calc(50% - 48px);
  box-sizing: border-box;
  text-align: left;
}

.academy-description-img {
  padding-top: 24px;
  width: 40%;
  max-width: 400px;
  height: auto;
}
