/* global color presets */
:root {
  --primary-green: #45bf84;
  --secondary-lightgrey: #f3f3f3;
  --darkgrey: #747474;
  --white: #fff;
  --text: #191a23;
}

* {
  font-family: Verdana, sans-serif;
  color: var(--text);
}

/* font family Poppins for the website description text */
@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins-Regular.ttf') format('truetype');
}

/* font family Noto Sans for the website header text */
@font-face {
  font-family: 'NotoSansBold';
  src: url('fonts/NotoSans-Bold.ttf') format('truetype');
}
